.landing-collection, .landing-collection-item, body{
  background-color: #f8f8f8 !important;
}

/*NAVBAR*/
nav {
  line-height: 45px;
}

.landing-nav {
  position: fixed;
  z-index: 1000;
  display: inline-table;
  background-color: rgba(255, 255, 255, .9);
}

.landing-nav .brand-logo {
  position: relative;
  padding: 5px;
  left: 70px;
  color: #000;
}

.logo {
  height: auto;
  width: 50px;
  margin-bottom: -10px;
  margin-right: 14px;
}

.logo-title {
  position: absolute;
  font-size: 36px;
  font-weight: bolder;
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
}

.logo-title:hover {
  transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  color: rgba(0, 0, 0, .6);
}

input[type=text].landing-search {
  float: right;
  width: 30%;
  margin: 20px 20px 15px 0;
  color: #000;
}

/*.landing-search:before {
  content: "search";
  color: red;
  position: absolute;
  right: 418px;
  bottom: -16px;
  font-size: 12px;
}
*/
@media only screen and (max-width: 992px) {
  .landing-nav .brand-logo {
    left: 40px;
  }

  input[type=text].landing-search {
    width: 80%;
    margin: -6px 40px 15px 0;
    height: 2rem;
  }
}

@media only screen and (min-width: 500px) {
  input[type=text].landing-search {
    width: 35%;
    margin: 15px 10px 6px 0;
    height: 2rem;
  }
}

.landing-nav .logo-title:after {
  content: "";
  display: block;
  position: relative;
  width: 35px;
  top: -2px;
  border-bottom: 8px solid;
  border-radius: 1px;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 45px;
  }
}
/*NAVBAR END*/

/*SIDE PANEL*/
.side-card-wrap {
  top: 8em;
  position: fixed;
  z-index: 3000;
}

.landing-btn {
  display: block;
  margin-bottom: 18px;
  right: 10px;
}

.social-icon-visit {
  width: 50px;
  height: auto;
  display: block;
  padding-top: 10px;
}

@media only screen and (max-width: 601px) {
  .side-card-wrap {
    top: 9em;
    position: fixed;
  }
}

.social-media-icon-wrapper {
  position: fixed;
  top: 250px;
  left: 10%;
}

@media (max-width: 980px) {
  .social-media-icon-wrapper{
    position: fixed;
    width: 36px;
    top: 245px;
    left: 14.5%;
  }
}

@media (max-width: 600px) {
  .social-media-icon-wrapper {
    position: fixed;
    width: 36px;
    top: 245px;
    left: 3.2%;
  }
}

@media (max-width: 320px) {
  .social-media-icon-wrapper {
    position: fixed;
    width: 36px;
    top: 245px;
    left: 5.8%;
  }
}

@media (max-width: 600px) {
  .btn-floating.landing-btn {
    width: 48.5px !important;
    height: 48.5px !important;
    margin-left: 8px;
  }
  .btn-floating.btn-large i {
    line-height: 50px;
  }
}
/*SIDE PANEL END*/

/*GLOBAL*/
.junk {
  color: transparent;
}
/*GLOBAL END*/

/*MAIN PANEL*/
/*#main {
  height: 200px;
}
*/
.landing-main_card {
  position: relative;
  margin-top: 4.5em;
}

img.tiles {
  height: auto;
  width: 100px;
  border-radius: 75px 75px 0;
  border: 2px solid #A8A8A8;
  float: right;
  padding: 2px;
}

@media (max-width: 800px) {
  img.tiles {
    width: 60px;
  }
}

.landing-collection {
  border: none;
}

.landing-collection .landing-collection-item {
  border-bottom: 1px solid #e0e0e0 !important;
  height: 470px !important;
}
  /*ALL MECHANIC INFORMATION*/
  .mechanic-fullname {
    font-size: 22px;
    font-family: Roboto;
    font-weight: bolder;
    color: rgba(116, 96, 74, 0.68);
    text-transform: capitalize;
  }

  .mechanic-email {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    color: #4D4D4D;
  }

  .mechanic-email:before {
    content: 'Email';
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    display: block;
  }

  .mechanic-skill {
    font-family: Roboto;
    font-size: 18px;
    text-transform: capitalize;
    color: #4D4D4D;
  }

  .mechanic-skill:before {
    content: 'What I Do';
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    display: block;
  }

  .mechanic-phone {
    font-family: Roboto;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bolder;
  }

  .mechanic-phone span {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    width: 48px;
    height: 22px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .mechanic-phone span a {
    color: #ffffff;
    padding: 4px;
    font-size: 12px;
    font-family: Ruda;
  }

  .mechanic-phone:before {
    content: 'Mobile';
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    display: block;
  }

  .mechanic-org {
    font-family: Roboto;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
  }

  .mechanic-org:before {
    content: 'Works for';
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    display: block;
  }

  .mechanic-address {
    font-family: Roboto;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: normal;
  }

  .mechanic-address:before {
    content: 'Address';
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    display: block;
  }

  .mechanic-avail {
    font-family: Roboto;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bolder;
    text-transform: capitalize;
  }

  .mechanic-avail:before {
    content: 'Availability';
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    display: block;
  }
  /*ALL MECHANIC INFORMATION END*/

/*NO SEARCH RESULTS*/
li + .no-items {
  display: none;
}

.no-items {
  margin-top: 40px;
  display: block;
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #EFEFEF;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.no-items i {
  font-size: 45px;
  color: #aaa;
}

.no-items h3 {
  margin-top: -10px;
}

@media (max-width: 600px) {
  .no-items {
    margin-left: 15px;
  }

  .no-items h3 {
    margin-top: -10px;
    font-size: 16px;
    line-height: 2.212rem; 
  }

  .no-items p {
    font-size: 12px;
  }
} 
/*NO SEARCH RESULTS END*/

/*SEARCH RESULTS*/
@media only screen and (min-width: 980px){   
  #landing-searchmech {
    margin-top: 2px;
    margin-left: 16%;
  }
}

@media only screen and (max-width: 980px){   
  #landing-searchmech  {
    margin-top: 8px;
    margin-left: 25%;  
  }
}

@media only screen and (max-width: 600px){   
  #landing-searchmech  {
    margin-top: 1px;
    margin-left: 15%;  
  }
}

@media only screen and (max-width: 320px){   
  #landing-searchmech  {
    margin-top: 36px;
    margin-left: 15%;  
  }
}
  /*LOVE ICON*/
  .connect-icon {
    color: #ddd;
    transition: color 1s ease-out;
    -webkit-transition: color 1s ease-out, -webkit-transform 2s;
    -moz-transition: color 1s ease-out, -webkit-transform 2s;
    -o-transition: color 1s ease-out, -webkit-transform 2s;
    font-size: 18px;
  }

  .connect-icon:hover {
    color: #F65A5B;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  /*LOVE ICON END*/
.btn-floating i {
  color: #000;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0px;
  }
}
/*SEARCH RESULTS END*/

/*ABOUT*/
#about {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  background: url('../images/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 4000;
}

@media(max-width: 600px) {
  #about {
    top: 0;
  }
}

.about-us {
  text-align: center;
  color: #fff;
  padding-top: 60px !important;
}

.about-us h4 {
  padding-top: 50px;
}

.about-us strong {
  font-weight: bolder;
  font-size: 22px;
  font-family: Oxygen;
}

.about-us p {
  font-size: 18px;
  font-family: Oxygen;
}

.about-us .btn {
  color: rgb(51, 51, 51);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
}

.about-us .btn:hover {
  color: rgb(51, 51, 51);
  background-color: rgba(255, 255, 255, 0.6);
}

.footer-details {
  margin-top: 30px;
}
/*ABOUT END*/