oa/* Import fonts */
@import url('http://fonts.googleapis.com/css?family=Ruda:400,700,900');

body {
  background-image: url('../images/loginbg.jpg');
  background-position: top center;
}

.adjust-side {
  color: transparent;
}

.login_form {
  margin: 100px auto;
}

.login_card {
  border-radius: 6px;
  background-color: #eceff1;
}

.login_card_title {
  margin: 0;
  padding: 3px 25px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-family: Ruda;
}

.login_input_field {
  padding: 12px;
}

.login_btn {
  margin-left: 40px;
  margin-top: 20px;
  width: 80%;
}

.card-action {
  color: #797979;
  font-family: Ruda;
}

.card-action h5 {
  font-size: 16px;
  text-align: center;
}

.card-action h6 {
  font-size: 18px;
  text-align: center;
}

.card-action h6 a {
  color: #263238  !important;
  font-weight: bolder;
}

.card-action h6 a:hover { color: #607d8b !important; }
