/*  IMPORTED FONTS */

@font-face {  font-family: "Ruda";
src: url('/../fonts/Ruda/Ruda-Regular.ttf');}

@font-face {  font-family: "Ruda";
src: url('../fonts/Ruda/Ruda-Bold.ttf');}

body {
  background-image: url('../images/loginbg.jpg');
  background-position: top center;
}

.adjust-side {
  color: transparent;
}

.login_form {
  margin: 150px auto;
}

.login_card {
  border-radius: 6px;  
  background-color: rgba(10, 10, 10, 0.51);
  color: #fff;
}

.login_card_title {
  margin: 0;
  padding: 3px 25px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-family: Ruda;
}

.login_input_field {
  padding: 12px;
}

@media only screen and (max-width: 400px) {
  .login_btn {
    margin-left: 58px !important;
    margin-top: 20px;
    width: 60% !important;
  }
}

.login_btn {
  margin-left: 40px;
  margin-top: 20px;
  width: 80%;
}

.card-action {
  color: #fff;
  font-family: Ruda;
}

.card-action h5 {
  font-size: 16px;
  text-align: center;
}

.card-action h6 {
  font-size: 18px;
  text-align: center;
}

.card-action h6 a {
  color: #DBDBDB  !important;
  font-weight: bolder;
}

.card-action h6 a:hover { color: #607d8b !important; }
