<!-- CONTROLLER -->
<div ng-controller="mechanicController">

  <!-- NAVBAR -->
  <nav class="landing-nav">
   <div class="landing-nav-wrapper">
    <a ui-sref="home" class="brand-logo"><img class="logo" src="images/logo.jpeg"><span class="logo-title">Mechanics</span></a>

    <!-- SEARCH FIELD -->
    <b>
      <input style="display: none" type="text" id="searchinput" placeholder="What's The Problem?" class="st-default-search-input landing-search" ng-model="q.skill"/>
    </b>

  </div>
</nav>

<div class="row">
  <!-- <div id="main"> -->

    <!-- SIDE PANEL -->
    <div class="col s2 m3 l2">
      <div class="col s12 m7 l7 junk">
        ..
      </div>
      <!-- BUTTONS -->
      <div class="col s12 m5 l5">
        <div class="side-card-wrap">
          <!-- MECHANIC BUTTON -->
          <button id="activemechanics" class="landing-btn right btn-floating btn-large waves-effect waves-light white tooltipped" data-position="right" data-tooltip="All Mechanic"><i class="mdi-social-people"></i></button>
          <br />
          <!-- SEARCH BUTTON -->
          <button id="activesearch" class="landing-btn right btn-floating btn-large waves-effect waves-light white tooltipped" data-position="right" data-tooltip="Search Mechanic"><i class="mdi-action-search"></i></button>

          <div class="social-media-icon-wrapper">
            <a target="_blank" href="https://twitter.com/JideBhanks"><img class="social-icon-visit tooltipped" src="images/social-1.png" data-position="right" data-tooltip="Follow Me"></a>
            <a href="mailto:jidebankole70@gmail.com"><img class="social-icon-visit tooltipped" src="images/social-2.png" data-position="right" data-tooltip="Mail Me"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN PANEL -->
    <div class="col s9 m7 l8 landing-main_card">
      <div class="wrap">
        <div>
          <ul id="mechcollection" class="collection landing-collection">
            <li ng-repeat="mechanic in data" class="collection-item landing-collection-item">
              <img class="tiles" ng-src="{{ mechanic.imageurl }}" title="{{ mechanic.fullname }} Picture" alt="{{ mechanic.fullname }} Picture">
              <div ng-cloak>
                <p class="mechanic-fullname">{{ mechanic.fullname}}</p>
                <p class="mechanic-email">{{ mechanic.email }}</p>
                <p class="mechanic-skill">{{ mechanic.skill }}</p>
                <p class="mechanic-phone">{{ mechanic.phone_no }}<span><a href="tel:{{ mechanic.phone_no}}"><i class="mdi-communication-call"></i> call</a></span></p>
                <p class="mechanic-org">{{ mechanic.organisation }}</p>
                <p class="mechanic-address">{{ mechanic.location }}</p>
                <p class="mechanic-avail">{{ mechanic.available }}</p>
              </div>
            </li>
            <p>&copy Copyright 2015, Made with <i class="connect-icon mdi-action-favorite"></i> by Akinjide Bankole from Andela </p>
          </ul>
        </div>
      </div>
    </div>

    <section style="display:none" id="about">
      <div class="row">
        <div class="col m2 l2 junk">..</div>
        <div class="col s12 m8 l8 about-us">
          <p>Are you stuck somewhere with no idea of what is wrong with your car?</p>
          <p><strong>Mechanics </strong>is here to your rescue, with over 30 Skilled mechanics, connect to the right mechanic that will solve your problem</p>
          <p><strong>Mechanics</strong> have Tested, Trusted and Skilled mechanics resgistered.</p>
          <h4>Have A Problem?</h4>
          <span class="btn" id="button">
            Get Started
          </span>
        </div>
        <div class="col m2 l2"></div>
      </div>
    </section>

    <div style="display: none" id="landing-searchmech" class="col s9 m7 l8 ">
      <ul class="collection landing-collection">
        <li ng-repeat="mechanic in data | filter: q" class="collection-item landing-collection-item">
          <img class="tiles" ng-src="{{ mechanic.imageurl }}" alt="">
          <div class="" ng-cloak>
            <p class="mechanic-fullname">{{ mechanic.fullname}}</p>
            <p class="mechanic-email">{{ mechanic.email }}</p>
            <p class="mechanic-skill">{{ mechanic.skill }}</p>
            <p class="mechanic-phone">{{ mechanic.phone_no }}<span><a href="tel:{{ mechanic.phone_no}}"><i class="mdi-communication-call"></i> call</a></span></p>
            <p class="mechanic-org">{{ mechanic.organisation }}</p>
            <p class="mechanic-address">{{ mechanic.location }}</p>
            <p class="mechanic-avail">{{ mechanic.available }}</p>
          </div>
        </li>
        <li class="no-items" ng-cloak>
          <i class="mdi-action-search"></i>
          <h3>We couldn't find any matching mechanic '{{ q.skill }}'</h3>
          <p>You could try again with keyword search</p>
        </li>
      </ul>
    </div>

    <div class="col s1 m2 l2"></div>
<!--   </div> -->
</div>

<!-- SCRIPT -->
<script type="text/javascript" src="scripts/basic.js"></script>
<script type="text/javascript" src="scripts/selectbtn.js"></script>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','JsAwawM83tk8n4kSAZk2','2.0.0');
</script>