<!-- CONTROLLER -->
<div ng-controller="adminController">
  <div ng-controller="mechanicController">
  <!-- CONTAINER  -->
  <div class="row">
    <!-- SIDE PANEL -->
    <div class="col s12 m4 l3 toggle"> 
      <div class="card-panel sidebar" ng-cloak>
        <div class="profile">
          <img ng-cloak ng-src="{{ getadminByid.imageurl }}" title="{{ getadminByid.fullname }} picture" alt="{{ getadminByid.fullname }} picture" class="profile_image">
          <a ui-sref="lockscreen" class="profile-control-right"><span class="mdi-action-lock"></span></a>
        </div>
        <span class="title_name">{{ getadminByid.fullname }}</span>
        <p class="admin_side-info">{{ getadminByid.email }}</p>
        <hr />
        <ul class="collapsible cc" data-collapsible="accordion">
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-dashboard"></i><a ui-sref="dashboard">Dashboard</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-account-child"></i><a ui-sref="administrator">Administrators</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header active"><i class="mdi-social-people"></i><a ui-sref="#">Mechanics</a></div>
          </li>
          <ul class="collapsible cc_collapse" data-collapsible="expandable">
            <li>
              <div class="collapsible-header cc_collapse_title"><i class="mdi-device-storage"></i> Manage</div>
              <div class="collapsible-body cc_collapse_header"><i class="mdi-social-person-add"></i><a ui-sref="addmechanic"> Add Mechanic</a></div>
              <div ng-show="currentadmin === 'true'" class="collapsible-body cc_collapse_header"><i class="mdi-social-person-add"></i><a ui-sref="signup"> Add Admin</a></div>
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <!-- MAIN PANEL -->
    <div class="col s12 m8 l9 maincontent"> 
      <div id="maincontent_wrapper">
        <div class="header-container">
          <h3>All Mechanic</h3>
          <div class="total">{{ data.length  }}</div>
          <div class="searchdiv">
            <i class="search-icon mdi-action-search"></i>
            <input type="text" placeholder="search for......" class="searchlistmechanics" ng-model="search.fullname" />
          </div>
        </div>
        <ul class="collection allmechanic-collection">
          <!-- LOOPING THROUGH DATA-->
          <li ng-repeat="mechanic in data | filter: search " class="collection-item avatar" ng-cloak>
              <img ng-src="{{ mechanic.imageurl }}" alt="" class="circle">
              <span class="title">{{ mechanic.fullname}}</span>
              <p class="mechanic_info mechanic_email">{{ mechanic.email }}</p>
              <p class="mechanic_info mechanic_skill">{{ mechanic.skill }}</p>
              <p class="mechanic_info mechanic_phone_no">{{ mechanic.phone_no }}</p>
              <p class="mechanic_info mechanic_organisation">{{ mechanic.organisation }}</p>
              <p class="mechanic_info mechanic_location">{{ mechanic.location }}</p>
              <p class="mechanic_info mechanic_avail">{{ mechanic.available | checkmark }}</p>
              <p class="mechanic_info mechanic_create">{{ mechanic.created_at | date:'medium' }}</p>
              <p class="mechanic_info mechanic_update">{{ mechanic.updated_at | date:'medium' }}</p>
              <a href="" class="modal-trigger secondary-content" ng-click="editMechanic(mechanic._id)"><img class="responsive-img" src="images/wrench.png"></a>
              <a ng-show="currentadmin === 'true'" ng-click="deleteMechanic(mechanic._id)" class="primary-content"><i class="mdi-action-delete"></i></a>
          </li>
        </ul>
      </div>

      <!-- Modal Structure -->
      <div id="editMechanic" class="modal bottom-sheet">
        <div class="modal-content">
          <h3>Update Profile</h3>
        </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-account-circle prefix"></i>
              <input id="fullname" placeholder="Full Name" type="text" required ng-model="params.fullname">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <i class="mdi-notification-play-install prefix"></i>
              <input id="skill" placeholder="What Can You Do" type="text" class="validate" required ng-model="params.skill">
            </div>
            <div class="input-field col s6">
              <i class="mdi-communication-call prefix"></i>
              <input id="phone" placeholder="Phone Number | e.g. 08029000000" type="text" class="validate" required ng-model="params.phone_no">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-communication-email prefix"></i>
              <input id="email" placeholder="Email Address | example@gmail.com" type="email" required ng-model="params.email" />
            </div>
            <div class="input-field col s6">
              <i class="mdi-social-location-city prefix"></i>
              <input id="organisation" placeholder="Company | e.g. M &amp; M" type="text" class="validate" ng-model="params.organisation">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s9">
              <i class="mdi-action-language prefix"></i>
              <input id="location" placeholder="Address" type="text" class="validate" ng-model="params.location">
            </div>
            <p class="input-field col s3">
              <input type="checkbox" id="available" ng-model="params.available" />
              <label for="available">Availabe</label>
            </p>
          </div>

          <div class="row">
            <p class="file-info">Maximum upload size 1MB</p>
            <input style="margin-left: 15px; font-size: 12px;" type="file" ng-model="params.files" accept="'image/*'" ngf-select="true" ngf-max-size='1024000' required />
            <br />
            <img ngf-src="params.files[0]" ng-src="{{ params.imageurl }}" class="thumb" />
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Discard</a>

            <a ng-click="updateMechanic(params)" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- SCRIPT -->
<script type="text/javascript" src="scripts/togglenav.js"></script>
<script type="text/javascript" src="scripts/basic.js"></script>