<!-- CONTROLLER -->
<div ng-controller="adminController">
  <div ng-controller="mechanicController">
  <!-- CONTAINER  -->
  <div class="row">
    <!-- SIDE PANEL -->
    <div class="col s12 m4 l3 toggle"> 
      <div class="card-panel sidebar" ng-cloak>
        <img ng-src="{{ getadminByid.imageurl }}" title="{{ getadminByid.fullname }} picture" alt="{{ getadminByid.fullname }} picture" class="profile_image">
        <span class="title_name">{{ getadminByid.fullname }}</span>
        <p class="admin_side-info">{{ getadminByid.email }}</p>
        <hr />
        <ul class="collapsible cc" data-collapsible="accordion">
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-dashboard"></i><a ui-sref="dashboard">Dashboard</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-account-child"></i><a ui-sref="administrator">Administrators</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header active"><i class="mdi-social-people"></i><a ui-sref="#">Mechanics</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-social-person-add"></i><a ui-sref="addmechanic">Add Mechanic</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-social-person-add"></i><a ui-sref="signup">Add Admin</a></div>
          </li>
        </ul>
      </div>
    </div>

    <!-- MAIN PANEL -->
    <div class="col s12 m8 l9 maincontent"> 
      <div id="maincontent_wrapper">
        <div class="header-container">
          <h3>All Mechanic</h3>
          <div class="total">{{ data.length  }}</div>
          <div>
            <i class="search-icon mdi-action-search"></i>
            <input type="text" placeholder="search for......" class="searchlistmechanics" ng-model="search.fullname" />
          </div>
        </div>
        <ul class="collection">
          <!-- LOOPING THROUGH DATA-->
          <li ng-repeat="mechanic in data | filter: search " class="collection-item avatar" ng-cloak>
              <img src="images/a0.jpg" alt="" class="circle">
              <span class="title">{{ mechanic.fullname}}</span>
              <p class="mechanic_info mechanic_email">{{ mechanic.email }}</p>
              <p class="mechanic_info mechanic_skill">{{ mechanic.skill }}</p>
              <p class="mechanic_info mechanic_phone_no">{{ mechanic.phone_no }}</p>
              <p class="mechanic_info mechanic_organisation">{{ mechanic.organisation }}</p>
              <p class="mechanic_info mechanic_location">{{ mechanic.location }}</p>
              <p class="mechanic_info mechanic_avail">{{ mechanic.available }}</p>
              <p class="mechanic_info mechanic_create">{{ mechanic.created_at | date:'medium' }}</p>
              <p class="mechanic_info mechanic_update">{{ mechanic.updated_at | date:'medium' }}</p>
              <a href="#" class="secondary-content"><img class="responsive-img" src="images/wrench.png"></a>
              <a ng-click="deleteMechanic(mechanic._id)" class="primary-content"><img class="responsive-img" src="images/cancel.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

  <!-- SCRIPT -->
  <script type="text/javascript" src="scripts/togglenav.js"></script>