<!-- NAVBAR FOR ADDMECHANICS-->
<div ng-controller="adminController">
  <nav class="dashboard grey darken-3" ng-controller="reloadController">
    <div class="nav-wrapper ">
      <ul class="left">
        <li><a href="#"><i class="mdi-navigation-more-vert" id="togglebtn"></i></a></li>
        <li><a ng-click="reloadRoute()"><i class="mdi-navigation-refresh"></i></a></li>
      </ul>
      <a ui-sref="#" class="left nav-brand-logo">MECHANICS | ADD MECHANIC</a>
      <div>
        <div class="right logout-container">
          <a ng-click="logout()"><button class="waves-effect btn logout-btn">Logout</button></a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div ui-view="theView"></div>