<!-- CONTROLLER -->
<div ng-controller="adminController">

  <!-- PAGE LAYOUT -->
  <div class="row">
    <div class="col s12 m4 l3 toggle"> 
      <!-- SIDE PANEL -->
      <div class="card-panel sidebar" ng-cloak>
          <div class="profile">
            <img ng-cloak ng-src="{{ getadminByid.imageurl }}" title="{{ getadminByid.fullname }} picture" alt="{{ getadminByid.fullname }} picture" class="profile_image">
            <a ui-sref="lockscreen" class="profile-control-right"><span class="mdi-action-lock"></span></a>
          </div>
          <span ng-cloak class="title_name">{{ getadminByid.fullname }}</span>
          <p ng-cloak class="admin_side-info">{{ getadminByid.email }}</p>
        <hr />
        <ul class="collapsible cc" data-collapsible="accordion">
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-dashboard"></i><a ui-sref="dashboard">Dashboard</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-action-account-child"></i><a ui-sref="administrator">Administrators</a></div>
          </li>
          <li>
            <div class="collapsible-header cc_header"><i class="mdi-social-people"></i><a ui-sref="mechanics">Mechanics</a></div>
          </li>
          <ul class="collapsible cc_collapse" data-collapsible="expandable">
            <li>
              <div class="collapsible-header cc_collapse_title active"><i class="mdi-device-storage"></i> Manage</div>
              <div class="collapsible-body cc_collapse_header"><i class="mdi-social-person-add"></i><a ui-sref="addmechanic"> Add Mechanic</a></div>
              <div class="collapsible-body cc_collapse_header active"><i class="mdi-social-person-add"></i><a ui-sref="signup"> Add Admin</a></div>
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="col s12 m8 l9 maincontent"> 
      <div id="maincontent_wrapper">
        <h3>Add Admin</h3>
        <!-- FORM -->
        <form ng-submit="upload(params)" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-account-circle prefix"></i>
              <input id="fullname" type="text" required ng-model="params.fullname">
              <label for="fullname">Full Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-communication-email prefix"></i>
              <input id="email" type="email" required ng-model="params.email" />
              <label for="email">Email Address | example@gmail.com</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <i class="mdi-social-person prefix"></i>
              <input id="username" type="text" required ng-model="params.username">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s4">
              <i class="mdi-action-visibility prefix"></i>
              <input id="password" type="password" required ng-model="params.password">
              <label for="password">Password</label>
            </div>
            <p class="signup_admin_check input-field col s2">
              <input type="checkbox" id="admin" checked="checked" ng-model="params.admin" />
              <label for="admin">Admin</label>
            </p>
          </div>

          <div class="row">
            <p class="file-info">Maximum upload size 1MB</p>
            <input style="margin-left: 15px; font-size: 12px;" type="file" ng-model="params.files" accept="'image/*'" ngf-select="true" required />
            <br />
            <img ng-show="params.files[0] != null" ngf-src="params.files[0]" class="thumb" />
          </div>

          <button submit class="right btn-floating btn-large waves-effect waves-light blue-grey"><i class="mdi-content-add"></i></button>
        </form>
      </div>
    </div>
  </div> 
</div>

<!-- SCRIPT -->
<script type="text/javascript" src="scripts/togglenav.js"></script>
<script type="text/javascript" src="scripts/basic.js"></script>